.header{
  background-color: aquamarine;
  padding: 20px;
  margin: 10px;

}
.product{
  background-color: black;
  padding: 20px;
  margin: 10px;
  width: fit-content;
  height:300px;
  color: white;

}
.products{
  width: 100%;
  display: flex;
}
.img{
  width: 200px;
  height: 200px;
}
.btn{
  padding: 10px 25px;
  background-color: rgb(12, 13, 13);
  color: rgb(210, 200, 200);
  font-size: 15px;
}
.data{
  background-color: antiquewhite;
  padding: 20px;
  width: fit-content;
  margin:10px
}